h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  cursor: pointer;
}

.md-card .md-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.md-card .md-subheading {
  font-weight: 500;
}

.md-card .md-switch {
  margin: 3px 0 0 0;
}

.divider {
  margin: 20px 0;
}

.md-18 {
  font-size: 18px;
  vertical-align: middle;
  margin-top: -3px;
}

.md-24 {
  font-size: 24px;
  vertical-align: middle;
  margin-top: -3px;
}

.danger-0 {
  background-color: #f3f3f3;
}

.danger-1 {
  background-color: #24a148;
}

.danger-2 {
  background-color: #f1c21b;
}

.danger-3 {
  background-color: #ff832b;
}

.danger-4 {
  background-color: #da1e28;
}
